@import url("../font/font.css");

.location {
    font-family: "Pretendard-Light";
    background-color: #424242;
    border-radius: 1rem;
    color: white;
    width: 60px;
    height: 20px;
    margin: 15px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 10px;
}

.spotinfo1 {
    padding: 20px 30px 20px 30px;
}

.categoryname {
    color: #949494;
    padding-left: 2px;
    padding-bottom: 5px;
    font-size: 12px;
    font-family: "Pretendard-Regular";
}

.spotname {
    font-family: "Pretendard-Bold";
    font-size: 20px;
    padding: 0px;
    padding-bottom: 8px;
}

.grade {
    display: flex;
    margin: 0;
}

.catfoot {
    padding: 0 1.5px 0 0;
    padding-top: 3.8px;
    width: 20px;
}

.review {
    display: flex;
    align-items: center;
}

.grade_num {
    font-family: "Pretendard-Bold";
    margin-left: 10px;
}

.review_num {
    margin-left: 35px;
    color: #949494;
    text-decoration: none;
    font-size: 12px;
    font-family: "Pretendard-Regular";
}

.gap1 {
    background-color: #D3D3D3;
    height: 4px;
    width: 100%;
}

.gap2 {
    background-color: #D3D3D3;
    height: 1.2px;
    width: 100%;
}

.spotinfo2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

table { 
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    margin: 10px 15px;
}

tr, td {
    table-layout: fixed;
    height: 70px;
    font-size: 10px;
    color: #949494;
}

.spotinfo2_text {
    padding-top: 5px;
}

.spotinfo2_img {
    width: 25px;
    height: 25px;
}

.link {
    font-family: "Pretendard-Medium";
    text-decoration: none;
    color: #949494;
}

.address {
    height: 65px;
    font-size: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.location_black {
    width: 14px;
    margin-left: 20px;
}

.address_detail {
    margin-left: 8px;
    font-family: "Pretendard-Medium";
    color: #808080;
    font-size: 13px;
}

.mapbutton {
    margin-top:2px;
    margin-left: auto;
    margin-right: 20px;
    display: flex;
    background-color: #57AEFF;
    width: 50px;
    height: 20px;
    border-radius: 1rem;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}

.map {
    font-size: 10px;
    color: white;
    font-family: "Pretendard-Medium";
}

.copy {
    margin-left: 10px;
    padding-top: 1.7px;
    font-size: 10px;
    color: #57AEFF;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    font-family: "Pretendard-Medium";
}

.contact {
    display: flex;
    height: 55px;
    align-items: center;
}

.contact_img {
    margin-left: 20px;
    width: 15px;
}

.contact_detail {
    margin-left: 10px;
    font-family: "Pretendard-Medium";
    color: #808080;
    font-size: 15px;
}

.call {
    font-family: "Pretendard-Medium";
    text-decoration: none;
    color:#808080;
    margin-left: auto;
    margin-right:20px;
    font-size: 12px;
}

.hours {
    display: flex;
    align-items: center;
    font-family: "Pretendard-Medium";
    color: #808080;
    font-size: 12px;  
    margin-top: 20px;
}

.current {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    justify-content: center;
}

.status {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    color: #FE6A38;
}

.opening{
    margin-left: auto;
    margin-right: 20px;
}

.off{
    margin-top: 5px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.btn_wrapper {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.modal_open-button,
.modal_close_btn {
    cursor: pointer;
    margin-left: auto;
}

.modal_container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    background: rgba(0, 0, 0, 0.5);
}

.modal_content {
    background-color: #ffffff;
    width: 250px;
    height: 150px;
    padding: 15px;
}

.include {
    border: none;
    background: none;
    font-family: "Pretendard-Medium";
    font-size: 10px;
    color: #949494;
}

.radiobutton {
    justify-content: center;
    align-items: center;
    text-align: center;
    display: block;
    padding: 5px;
}

.form {
    display: flex;
}